.ipynb_checkpoints/
*.xlsx
.idea/
__pycache__/
.DS_Store
*.pyc
figure/
doc/
model/
search.py
data/MIND_Large/MIND_large/
data/MIND_Large/MINDCTR/
data/MIND_Large/data_*.py
data/MIND_Large/*.csv
data/discard/
data/MovieLens_1M/ML*
data/MovieLens_1M/ml*
data/MovieLens_1M/*.csv
data/Grocery_and_Gourmet_Food/Gr*
